a {
    padding-bottom: 1px;
    position: relative;
    font-weight: 700 !important;
    color: #598bf0 !important;
    background: -webkit-linear-gradient(45deg, #3172ff, #00FF92) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    margin-bottom: -1px;
    width: 100%;
    height: 2px;
    bottom: 0;
    background: -webkit-linear-gradient(45deg,#3172ff,#00FF92)!important;
}

.footer>a::after, a.site-avatar::after, .hidden-text>a::after a.no-underline::after {
    content: "";
    position: absolute;
    left: 0;
    margin-bottom: 0px;
    width: 0%;
    height: 0px;
    bottom: 0;
    background: rgba(0,0,0,0)!important;
}


.color-sample {
    background: linear-gradient(45deg, rgba(213,213,213,1) 0%, rgba(167,167,167,1) 100%);
    padding: 1px 7px;
    color: rgba(255,255,255,0.8);
    font-weight: 700;
}