a {
    font-weight: 700 !important;
    color: #598bf0 !important;
    background: -webkit-linear-gradient(45deg, #3172ff, #00FF92) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}